@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p, a {
    font-family: 'Montserrat', sans-serif;
      color: white;
}

section {
    position: relative;
    overflow: hidden;
}

/*----------------------------------------------
## Text elements
/----------------------------------------------*/
#title {
      position: absolute;
      top: calc(100vw * 0.10);
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      text-shadow: -1px 1px 6px rgba(0,0,0,.3);
      opacity: 1;
      transition: opacity 200ms;
      text-transform: uppercase;

    }
#title h1 { 
        font-weight: 300;
        font-size: 8vw;  
    }
#title h3 {
        font-weight: 300;
        font-size: 3.5vw;  
    }

#desc {
    position: absolute;
    top: calc(100vw * .5);
    left: 50%;
    transform: translateX(-50%) scale(.8); 
    transition: margin-top  1000ms linear;
      
      
      
}

#desc p, #fish-title
 {
    color: transparent;
}

#fish-title
 {
    position: absolute;
    top: calc(100vw * .9);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
    transition: margin-top  3000ms linear;
}

/*----------------------------------------------
## Graphical elements
/----------------------------------------------*/

#bgImg {
    height: calc(100vw * 2.2);
    /* height: 8000px; */
    width: 100%;
    position: relative;

    /* position: relative;
    width: 100%;
    top: 0;
    height: 250vw;
    display: block; */
    background: url(img/bg2.png)  50% top no-repeat;
    background-size: 100% auto;

  }

    #waterlevel {
        position: absolute;
        top: calc(100vw * 0.281);
        width: 100%;
        height: calc(100vw * 0.533);
        background: url(img/Waterlevel3.png)  50% top no-repeat;
        background-size: 100% auto;
        /* opacity: .5; */
        /* transform: scaleY(.3); transform-origin: 0 0; */
      }
      

  #branch {
      position: absolute;
      top: calc(100vw * 0.10);
      transform: translateY(-50%);
      width: 40vw;

      /* background: tomato; */
  }
  .particles {
        width: 100vw;
        height: calc(100vw * 8);
        position: absolute;
        top: calc(100vw * 0.55);
        overflow: hidden;
  }

  #particles1 {
    position: absolute;
    top: -1000px;
    left: -50%;
    transform: translateY(-50%);
    width: 200vw;
    transition: all  10000ms ease-out;
    z-index: 100;

    /* background: tomato; */
  }

  #gadda-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    /* animation-name: blurInContainer, opacityIn ;
    animation-duration: 4s;
    animation-fill-mode: forwards; */
    /* transition: margin-top  3000ms linear; */
    /* border: 1px solid red; */
    z-index: 90;
  }
  #gadda-container p {
      max-width: 45%;
  }


  #gadda {
      width: 20vw;
      position: relative;
      /* top: calc(100vw * 1.15); */
      /* left: 50%; */
      
  }



/*----------------------------------------------
## Animations
/----------------------------------------------*/
@keyframes opacityIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes opacityOut {
    from {opacity: 1;}
    to {opacity: 0;}
}


@keyframes blurInContainer {
    from {filter: blur(10px);}
    to {filter: blur(0px);}
}
@keyframes blurOutContainer {
    from {filter: blur(0px);}
    to {filter: blur(10px);}
}


@keyframes blurFadeIn {
    from {text-shadow: 0 0 10px rgba(255, 255, 255, 0);}
    to {text-shadow: 0 0 0px rgba(255, 255, 255, 1);}
}
@keyframes blurFadeOut {
    from {text-shadow: 0 0 0px rgba(255, 255, 255, 1);}
    to {text-shadow: 0 0 10px rgba(255, 255, 255, 0);}
}

@keyframes fromLeft {
    from {left: 50%; margin-top: 10vw;}
    to {left: 0%; margin-top: 0vw;}
}
@keyframes fromRight {
    from {right: 70%; margin-top: 10vw;}
    to {right: 50%; margin-top: 0vw;}
}

/*----------------------------------------------
## Media Queries
/----------------------------------------------*/

  @media screen and (max-width: 1000px) {
    #bgImg {
        height: calc(100vw * 8);
        background-size: auto 100%;
    }

    #branch {
        width: 50vw;
        top: calc(100vw * .9);
    }

    #title {
        top: calc(100vw * .4);
    }
    #title h1 { 
        font-size: 15vw;  
    }
    #title h3 {
        font-size: 8vw;  
    }
    #waterlevel {
        top: calc(100vw * 1.015);
    }

    
  }