@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #3E3C41;
}

a {
  color: #3E3C41;
}

a:hover {
  opacity: .6;
}

a:visited {
  color: #3E3C41;
}

.slider {
  width: 100%;
  overflow: hidden;
  padding-bottom: 30px;
}

.slider__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.slider__btns__header {
  margin-bottom: 15px;
  font-size: .8rem;
}

.slider__btns a {
  font-size: 2rem;
  cursor: pointer;
}

.slider__btns__list__btn {
  margin-right: 10px;
}

.slider__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding-top: 10px;
  padding-bottom: 20px;
}

.slider__slides div {
  scroll-snap-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 70%;
  position: relative;
  margin-right: 5%;
  border-radius: 10px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 100px;
}

.slider__slides div:before {
  content: '';
  display: block;
  padding-top: 70%;
}

.slider__slides div:first-child {
  margin-left: 50%;
}

.mastercard-bg {
  background: radial-gradient(at bottom left, #A293F6 20%, #DC98F6 100%);
}

.visa-bg {
  background: radial-gradient(at bottom left, #F07CC4 20%, #FF2A6B 100%);
}

.amex-bg {
  background: radial-gradient(at bottom left, #f5663b 20%, #f6d757 100%);
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 425px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.checkout {
  /*--------------- single purpose --------------*/
  /*--------------- effects --------------*/
}

.checkout__header {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout__header__expand {
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-size: 1rem;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.checkout__header h2 {
  text-transform: uppercase;
  padding: 10px 0px 10px 30px;
}

.checkout__header .unchecked {
  color: #a7a7a7;
}

.checkout__header .cart-price {
  margin-right: 0;
  margin-left: auto;
  font-weight: 600;
  padding: 0;
}

.checkout__body {
  overflow: hidden;
  max-height: 100vh;
  -webkit-transition: max-height .3s ease-out;
  transition: max-height .3s ease-out;
}

.checkout__body__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #E5F4F5;
}

.checkout__body__header__payment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.checkout__body__container {
  padding: 30px 20px;
}

.checkout .pay-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout .pay-choice .fa-circle {
  color: #d1d1d1;
}

.checkout .pay-choice__text {
  margin-top: .5rem;
  font-size: .75rem;
  text-transform: uppercase;
}

.checkout .active-btns {
  margin-bottom: 30px;
}

.checkout .active-btns__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.checkout .active-btns__header p {
  font-size: 12px;
}

.checkout .active-btns__list {
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.checkout .active-btns__btn {
  font-size: 2rem;
  cursor: pointer;
}

.checkout .active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px;
  border: solid 2px #68BEC0;
  border-radius: 10px;
}

.checkout .top-shadow {
  -webkit-box-shadow: 0px -3px 6px 0px rgba(54, 54, 54, 0.4);
          box-shadow: 0px -3px 6px 0px rgba(54, 54, 54, 0.4);
}

.checkout .round-top {
  border-radius: 10px 10px 0 0;
}

.checkout .collaps {
  max-height: 0px;
}

.checkout .rotate-90-cw {
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*# sourceMappingURL=style.css.map */