@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #3E3C41;
}

a {
  color: #3E3C41;
}

a:hover {
  opacity: .6;
}

a:visited {
  color: #3E3C41;
}

.slider {
  width: 100%;
  overflow: hidden;
  padding-bottom: 30px;
}

.slider__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.slider__btns__header {
  margin-bottom: 15px;
  font-size: .8rem;
}

.slider__btns a {
  font-size: 2rem;
  cursor: pointer;
}

.slider__btns i {
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
  line-height: 1.8rem;
}

.slider__btns__list__btn {
  margin-right: 10px;
}

.slider__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-bottom: 30px;
}

.slider__slides div {
  scroll-snap-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 70%;
  position: relative;
  margin-right: 5%;
  border-radius: 10px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 5rem;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.slider__slides div:before {
  content: '';
  display: block;
  padding-top: 70%;
}

.slider__slides div:first-child {
  margin-left: 50%;
}

.slider__slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slider__slides::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.slider__slides::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.mastercard-bg {
  background: radial-gradient(at bottom left, #A293F6 20%, #DC98F6 100%);
}

.visa-bg {
  background: radial-gradient(at bottom left, #F07CC4 20%, #FF2A6B 100%);
}

.amex-bg {
  background: radial-gradient(at bottom left, #f5663b 20%, #f6d757 100%);
}

.active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px;
  border: solid 2px #68BEC0;
  border-radius: 10px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 425px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.checkout {
  /*--------------- single purpose --------------*/
  /*--------------- effects --------------*/
}

.checkout__header {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout__header__expand {
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-size: 1rem;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.checkout__header h2 {
  text-transform: uppercase;
  padding: 10px 0px 10px 30px;
}

.checkout__header .unchecked {
  color: #a7a7a7;
}

.checkout__header .cart-price {
  margin-right: 0;
  margin-left: auto;
  font-weight: 600;
  padding: 0;
}

.checkout__body {
  overflow: hidden;
  max-height: 100vh;
  -webkit-transition: max-height .3s ease-out;
  transition: max-height .3s ease-out;
}

.checkout__body__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #E5F4F5;
}

.checkout__body__header__payment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.checkout__body__container {
  position: relative;
  padding: 30px 20px;
}

.checkout .pay-btn {
  width: 100%;
}

.checkout .pay-btn__btn {
  display: block;
  margin: 0 auto 30px;
  padding-top: 2px;
  height: 50px;
  width: 205px;
  border-radius: 25px;
  border: none;
  color: #3E3C41;
  color: #222222;
  font-size: .9rem;
  font-weight: 500;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#65BBBE), to(#8DE3D4));
  background: linear-gradient(to right, #65BBBE, #8DE3D4);
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
}

.checkout .pay-btn__btn__price {
  font-weight: 600;
  margin-left: 20px;
}

.checkout .pay-btn__btn:hover {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#65be87), to(#90e38d));
  background: linear-gradient(to right, #65be87, #90e38d);
}

.checkout .pay-btn__btn:active {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.checkout .popUp {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  background: rgba(229, 244, 245, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.checkout .popUp__card {
  position: relative;
  top: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  background: radial-gradient(at bottom left, #F07CC4 20%, #FF2A6B 100%);
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.6);
}

.checkout .popUp__card__brand {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 3rem;
  color: white;
}

.checkout .popUp__card__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout .card-form__name {
  font-size: .7rem;
  font-weight: 500;
  color: #3E3C41;
  margin-bottom: 2px;
}

.checkout .card-form__input {
  font-size: 1rem;
  font-weight: 600;
  color: #3E3C41;
  background: none;
  border: none;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
  outline: none;
  padding: 5px;
}

.checkout .card-form__input:focus {
  background: rgba(255, 255, 255, 0.171);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
}

.checkout .card-form__input:nth-child(2) {
  margin-bottom: 30px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-right: 30%;
}

.checkout .card-form__input:nth-child(4) {
  margin-bottom: 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.checkout .card-form__input:nth-child(6) {
  width: 30%;
}

.checkout .card-form__name:nth-child(5) {
  width: 30%;
}

.checkout .card-form__input:nth-child(8) {
  width: 60%;
}

.checkout .card-form__name:nth-child(7) {
  width: 60%;
}

.checkout ::-webkit-input-placeholder {
  color: #3e3c4188;
  font-weight: 600;
}

.checkout :-ms-input-placeholder {
  color: #3e3c4188;
  font-weight: 600;
}

.checkout ::-ms-input-placeholder {
  color: #3e3c4188;
  font-weight: 600;
}

.checkout ::placeholder {
  color: #3e3c4188;
  font-weight: 600;
}

.checkout .top-shadow {
  -webkit-box-shadow: 0px -3px 6px 0px rgba(54, 54, 54, 0.4);
          box-shadow: 0px -3px 6px 0px rgba(54, 54, 54, 0.4);
}

.checkout .round-top {
  border-radius: 10px 10px 0 0;
}

.checkout .collaps {
  max-height: 0px;
}

.checkout .rotate-90-cw {
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*# sourceMappingURL=style.css.map */