@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

@mixin center-row {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

@mixin clean-list {
    list-style-type: none;
}

@mixin clean-link {
    text-decoration: none;
    color: inherit;
}

$base-color: #3E3C41;
$base-color-50: #3e3c4188;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2 {
    font-weight: 500;
    font-size: 1.5rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $base-color;
}
a{
    color: $base-color;
}

a:hover {
    opacity: .6;
}
a:visited {
    color: $base-color;
}


@import "_slides";

.wrapper {
    margin-left: auto;
    margin-right:  auto;
    max-width: 425px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.checkout {

    &__header {
        padding: 10px 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        

        &__expand {
            font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
            font-size: 1rem;
            transition:transform .3s ease-out;
            transform: rotate(0deg);
    
        }
        
        h2 {
            
            text-transform: uppercase;
            padding: 10px 0px 10px 30px;
        }
        .unchecked{
            color: rgb(167, 167, 167);
        }

        .cart-price{
            margin-right: 0;
            margin-left: auto;
            font-weight: 600;
            padding: 0;
        }
       
    }

    &__body {
        overflow: hidden;
        max-height: 100vh;
        transition:max-height .3s ease-out;
        
        &__header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            background-color: #E5F4F5; 

            &__payment {
                width: 100%;
                display: flex;
                justify-content: space-around;
            }
        }
        

        &__container {
            position: relative;
            padding: 30px 20px;
            
        }

    }

    .pay-btn {
        width: 100%;
    
        &__btn{
            display: block;
            margin: 0 auto 30px;
            padding-top: 2px;
            height: 50px;
            width: 205px;
            border-radius: 25px;
            border: none;
            color: $base-color;
            color: rgb(34, 34, 34);
            font-size: .9rem;
            font-weight: 500;
            text-transform: uppercase;
            background: linear-gradient(to right, #65BBBE, #8DE3D4);
            box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
            outline: none;

            cursor: pointer;

            &__price {
                font-weight: 600;
                margin-left: 20px;
            }
        }
        &__btn:hover{
            color: white;
            background: linear-gradient(to right, #65be87, #90e38d);
            
        }
        &__btn:active{
            box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
              
        }
    }

.popUp {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    
    background: rgba(229,244,245,.5);
    backdrop-filter: blur(5px);
    


    &__card {
        position: relative;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        padding: 25px;
        // @include responsive-box(60%);
        border-radius: 10px;
        background: radial-gradient(at bottom left, #F07CC4 20%, #FF2A6B 100%);
        box-shadow: 3px 3px 15px rgba(0,0,0,0.6);

        &__close-btn {
            position: relative;
            top: calc(-60px - 1rem);
            text-align: right;
            font-size: 2rem;
        }

        &__brand {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 3rem;
            color: white;
        }

        &__form {
            display: flex;
            // flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;

        }
    }
}


.card-form {
    &__name{
        
        font-size: .7rem ;
        font-weight: 500;
        color: $base-color;
        margin-bottom: 2px;
    }



    &__input {
        font-size: 1rem;
        font-weight: 600;
        color: $base-color;
        background: none;
        border: none;
        border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
        outline: none;
        padding: 5px;
    }

    &__input:focus {
        background: rgba(255, 255, 255, 0.171);
        border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);

    }

    &__input:nth-child(2) {
        margin-bottom: 30px;
        flex-basis: 100%;
        margin-right: 30%;
    }
    &__input:nth-child(4) {
        margin-bottom: 20px;
        flex-basis: 100%;
    }

    &__input:nth-child(6) {
        width: 30%;
        order: 3;
    
    }
    &__name:nth-child(5){
        width: 30%;
        order: 1;
    
    }

    &__input:nth-child(8) {
        width: 60%;
        order: 4;
    
    }
    &__name:nth-child(7){
        width: 60%;
        order: 2;
    
    }

}

::placeholder {
    color: $base-color-50;
    font-weight: 600;
  }

  input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

    /*--------------- single purpose --------------*/



    .top-shadow {
        box-shadow: 0px -3px 6px 0px rgba(54, 54, 54, 0.4);
    }
    
    .round-top {
        border-radius: 10px 10px 0 0;
    }

    /*--------------- effects --------------*/

    .collaps { 
        max-height: 0px;
    }
    
    .rotate-90-cw {
        transition:transform .2s ease-in-out;
        transform: rotate(90deg);
    }

}
